a {
    text-decoration: none;
    color: #b8b8b8 !important;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: none;
}
.active{
    color: #55af7a !important;
}
.active:hover{
    font-weight: bold;
}

.nonActive{
    color: #b8b8b8;
}

.nonActive :focus :active{
    text-decoration: none;
}


